<form id="name_entry" action="/links" method="POST" class="welcome">
    <p><label>Ttile</label>
    <input type="text" name="title" placeholder="Makers Academy"/></p>
    <p><label>URL</label>
    <input type="text" name="url" placeholder="http://www.makersacademy.com"/></p>
    <p><input type="submit" value="Add Link"/></p>
</form>
