<form id="signup" action="/signup" method="POST" class="welcome">
    <p><label>Email</label>
    <input type="text" name="email" placeholder="Makers Academy"/></p>
    <p><label>Password</label>
    <input type="text" name="password" placeholder="http://www.makersacademy.com"/></p>
    <p><input type="submit" value="Sign Up"/></p>
</form>
